<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://counterexam.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>counterexam.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>counterexam</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$counterexam</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CounterDBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:cyberocbina.database.windows.net,1433;Initial Catalog=counterexam_db;User ID=cyberocbina@cyberocbina;Password=Arriva$2016" Name="Data Source=tcp:cyberocbina.database.windows.net,1433;Initial Catalog=counterexam_db;User Id=cyberocbina@cyberocbina;Password=Arriva$2016" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ocbina_israel_Exam.Models.CounterDBContext, ocbina_israel_Exam" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CounterDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:cyberocbina.database.windows.net,1433;Initial Catalog=counterexam_db;User Id=cyberocbina@cyberocbina;Password=Arriva$2016</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>